.dropdown {
    position: relative;
    display: inline-block;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
    padding: 20px 30px;
    cursor: pointer;
    user-select: none;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    left: 10px;
}

.dropdownContentItem {
    padding: 5px 10px;
}

.dropdownToggle {
    font-size: 1.3rem;
}

.arrowDown {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.active {
    color: #0f71de;
}
.active .arrowDown {
    border-color: #0f71de;
}
.active .dropdownContent {
    display: flex;
}


